.form-highlights-footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  padding: 10px;
  box-shadow: 0px 0px 0px 1px #dadada;
  background-color: transparent;
  backdrop-filter: blur(30px);
}
