.back-button {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px;
  /* background-color: rgba(236, 236, 236, 0.164); */
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  margin: 0px;
  z-index: 10;
  box-shadow: 0 0.15px 0px 0.5px rgb(0, 0, 0, 0.195);
  /* font-family: !important -apple-system; */
}

.back-text {
  margin-bottom: 0px;
  line-height: 1;
  padding-top: 0px;
  font-size: 14.5px;
}

.back-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.back-inner:hover {
  transition: 0.1s linear;
  opacity: 0.8;
}

.back-inner:active {
  transition: 0s linear;
  opacity: 0.35;
}

.back-inner-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
