.sign-up-row {
  margin: 0px;
  padding-top: 37px;
  height: 100vh;
}

.sign-up-left {
  background-color: #f7f7f7;
}

.not-found-title {
  font-weight: 800;
}

.error-message {
  color: white;
  font-weight: 500;
  background-color: red;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  border-radius: 5px;
}

.fade-in-image {
  animation: fadeIn 1.15s;
  -webkit-animation: fadeIn 1.15s;
  -moz-animation: fadeIn 1.15s;
  -o-animation: fadeIn 1.15s;
  -ms-animation: fadeIn 1.15s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
