.sign-up-row {
  margin: 0px;
  padding-top: 37px;
  height: 100vh;
}

.sign-up-left {
  background-color: #f7f7f7;
}

.not-found-title {
  font-weight: 800;
}

.fade-in-image {
  animation: fadeIn 0.8s;
  -webkit-animation: fadeIn 1.15s;
  -moz-animation: fadeIn 1.15s;
  -o-animation: fadeIn 1.15s;
  -ms-animation: fadeIn 1.15s;
}

@keyframes fadeIn {
  0% {
    filter: blur(30px);
  }
  100% {
    filter: blur(0px);
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.auth-provider {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-provider:active {
  opacity: 0.8;
  transition: 0s linear;
}

.auth-provider-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 10;
  left: 15px;
}
