.nav-bar{
    font-family: 'Rufina', serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.active-link{
    outline: none;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    cursor: pointer;
}

.active-link:hover{
    color: white;
    background-color: black;
}