.App {
  text-align: center;
  font-family: "Inter", sans-serif;
}

.form-center {
  display: grid;
  place-items: center;
}

.form-global {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 500px;
  position: relative;
}

.form-disclaimer {
  font-size: 10px;
  text-transform: uppercase;
  color: #424242;
}

.mr-2 {
  margin-right: 5px;
}

.form-title {
  font-weight: 800;
}

.center {
  display: grid;
  place-items: center;
}

@media screen and (max-width: 600px) {
  .form-global {
    width: 100%;
  }
}

*::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.outline-button {
  background: transparent;
  border: 0;
  letter-spacing: -0.75px;
  font-size: 12px;
}

.outline-button:hover {
  color: #424242;
}

.outline-button:active {
  outline: 1px;
  color: #000000;
}

.transparent-input {
  background: transparent;
  border: 0;
  outline: none;
}
