.App {
  text-align: center;
  font-family: 'Inter', sans-serif
}

.form-center{
  display: grid;
  place-items: center;
}

.form-global{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 70%;
}

.form-disclaimer{
  font-size: 10px;
  text-transform: uppercase;
  color: #424242;
}

.mr-2{
  margin-right: 5px;
}

.form-title{
  font-weight: 800;
}

.center{
  display: grid;
  place-items: center;
}

@media screen and (max-width: 600px) {
  .form-global{
    width: 100%;
  }
}

*::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}