body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiFormLabel-root.Mui-focused {
  color: #424242 !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #424242 !important;
}

.css-nbg81b-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid #424242 !important;
}

.bp4-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.175) !important;
}

.bp4-overlay {
  z-index: 10 !important;
}
